[submodule "SistemEmbedded"]
	path = SistemEmbedded
	url = https://github.com/bryanbernigen/SistemEmbedded
[submodule "PPL/coursereview-be"]
	path = PPL/coursereview-be
	url = https://gitlab.informatika.org/rannnayy/coursereview-be
[submodule "PPL/coursereview-fe"]
	path = PPL/coursereview-fe
	url = https://gitlab.informatika.org/rannnayy/coursereview-fe
[submodule "PBD/if3210-2023-android-rbk"]
	path = PBD/if3210-2023-android-rbk
	url = https://gitlab.informatika.org/rannnayy/if3210-2023-android-rbk
[submodule "Sister/if3230-tucil-sister-tubes-logkom"]
	path = Sister/if3230-tucil-sister-tubes-logkom
	url = https://github.com/Sister19/if3230-tucil-sister-tubes-logkom
[submodule "Grafkom/Tubes1Grafkom"]
	path = Grafkom/Tubes1Grafkom
	url = https://github.com/bryanbernigen/Tubes1Grafkom
[submodule "Grafkom/IF3260_Tugas2_K01_G02"]
	path = Grafkom/IF3260_Tugas2_K01_G02
	url = https://github.com/JayaMangalo/IF3260_Tugas2_K01_G02
[submodule "ML/Tubes1ML"]
	path = ML/Tubes1ML
	url = https://github.com/bryanbernigen/Tubes1ML
[submodule "PBD/if3210-2023-unity-ugw"]
	path = PBD/if3210-2023-unity-ugw
	url = https://gitlab.informatika.org/if3210-2023-unity-ugw/if3210-2023-unity-ugw
[submodule "Grafkom/IF3260_Tugas3_K01_G02"]
	path = Grafkom/IF3260_Tugas3_K01_G02
	url = https://github.com/JayaMangalo/IF3260_Tugas3_K01_G02
[submodule "Sister/if3230-tubes-tubes-logkom"]
	path = Sister/if3230-tubes-tubes-logkom
	url = https://github.com/Sister19/if3230-tubes-tubes-logkom
